body, html{
	height: 100%;
}

.wrap{
	text-align: center;
	height: 100%;
	min-width: 320px;
}

.mainImg{
	background: url("http://127.0.0.1:8000/static/street.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
}

#map{
	width: 70%;
	border: 1px solid #c2c2c2;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: -14em;
	margin-bottom: 3em;
	border: 1em solid white;

	-webkit-box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
	-moz-box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
	box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
}

.descriptionWrap{
	background-color: rgba(79, 79, 79, 0.2);
	width: 80%;
	margin: 0 auto;
	margin-top: -12em; 
}

.description{
	margin-bottom: 2em;
}

.description p{
	margin-bottom: 5em;
	font-family: "Ubuntu";
}

.slogan{
}

.slogan p{
	font-family: "Ubuntu";
	font-size: 2.5em;
	color: white;
	font-weight: 400;
	padding-top: 5em;
	background: rgba(0, 0, 0, 0.1)

}

.people{
	width: 28em;
	height: 10em;
	margin: 0 auto;
	margin-top: 12em;
}

.people p{
	font-family: "Ubuntu";
}



.person{
	width: 140px;
	padding: .5em;
}